name: _purge

on:
  schedule:
    - cron: '53 10 * * *' # run daily at 10:53 UTC
  workflow_dispatch:
    inputs:
      retain-days:
        default: 7
        required: false
        type: number

permissions:
  contents: read
  actions: write

jobs:
  purge-logs:
    uses: ulfiac/common-reusables/.github/workflows/reusable_purge_workflow_logs.yaml@main
    with:
      retain-days: ${{ fromJSON(inputs.retain-days || '7') }}
