name: _terraform-docs

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  terraform-docs:
    uses: ulfiac/common-reusables/.github/workflows/reusable_terraform_docs.yaml@main
