name: clear workflow logs

on:
  workflow_dispatch:
    inputs:
      retain_days:
        default: 0
        description: retain days
        required: true
        type: number
      keep_minimum_runs:
        default: 10
        description: keep minimum runs
        required: true
        type: number

permissions:
  actions: write
  contents: read

jobs:
  clear-workflow-logs:
    runs-on: ubuntu-latest
    steps:
      - uses: Mattraks/delete-workflow-runs@86d29a75093353c4c509a876c176234037c2025b # v2
        with:
          token:             ${{ github.token }}
          repository:        ${{ github.repository }}
          retain_days:       ${{ github.event.inputs.retain_days }}
          keep_minimum_runs: ${{ github.event.inputs.keep_minimum_runs }}
