name: clear workflow logs

on:
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:
  clear-workflow-logs:
    runs-on: ubuntu-latest
    steps:
      - uses: Mattraks/delete-workflow-runs@feeb82053ea847a97fe4ee2aa314c94eac0eff04 # v2
        with:
          token:                   ${{ github.token }}
          repository:              ${{ github.repository }}
          retain_days:             0
          keep_minimum_runs:       10
