name: purge-workflow-logs

on:
  schedule:
    - cron: '0 0 * * 0'  # Run weekly on Sunday at midnight UTC
  workflow_dispatch:

permissions:
  contents: read
  actions: write

jobs:
  purge-logs:
    uses: ulfiac/github-action-reusables/.github/workflows/reusable_purge_workflow_logs.yaml@main
    with:
      retain-days: 7
