name: reusable deploy aws account
run-name: ${{ inputs.account }} / ${{ inputs.terragrunt_action }}

on:
  workflow_call:
    inputs:
      account:
        required: true
        type: string
      terragrunt_action:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      account:
        default: all
        options:
          - all
          - mgmt
        required: true
        type: choice
      terragrunt_action:
        default: plan
        options:
          - plan
          - plan destroy
          - apply
          - destroy
        required: true
        type: choice

permissions:
  contents: read
  id-token: write

jobs:
  account:
    strategy:
      matrix:
        account: ${{ fromJson(inputs.account == 'all' && '["mgmt"]' || format('["{0}"]', inputs.account)) }}
    uses: ./.github/workflows/reusable_deploy_aws_region.yaml
    with:
      account: ${{ matrix.account }}
      region: all
      terragrunt_action: ${{ inputs.terragrunt_action }}
    secrets: inherit
