name: reusable deploy aws region
run-name: ${{ inputs.account }} / ${{ inputs.region }} / ${{ inputs.terragrunt_action }}

on:
  workflow_call:
    inputs:
      account:
        required: true
        type: string
      region:
        required: true
        type: string
      terragrunt_action:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      account:
        default: mgmt
        options:
          - mgmt
        required: true
        type: choice
      region:
        default: all
        options:
          - all
          - _global
          - ca-central-1
          - us-east-1
          - us-east-2
        required: true
        type: choice
      terragrunt_action:
        default: plan
        options:
          - plan
          - plan destroy
          - apply
          - destroy
        required: true
        type: choice

permissions:
  contents: read
  id-token: write

jobs:
  region:
    strategy:
      matrix:
        region: ${{ fromJson(inputs.region == 'all' && '["_global","ca-central-1","us-east-1","us-east-2"]' || format('["{0}"]', inputs.region)) }}
    uses: ./.github/workflows/reusable_deploy_aws_component.yaml
    with:
      account: ${{ inputs.account }}
      region: ${{ matrix.region }}
      component: all
      terragrunt_action: ${{ inputs.terragrunt_action }}
    secrets: inherit
